<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Welcome to Pidilite</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div class="fluid-container">
        <div class="small-container" style="max-width: 700px;margin:0 auto">
            <table style="width:100%">
                <tbody>
                    <!--  <tr><td style="padding-bottom: 10px;"><img src="logo.png" alt="logo" style="width: 120px;"></td></tr> -->
                </tbody>
            </table>
            <table style="padding-bottom: 20px;">
                <tbody>
                    <tr>
                        <td>
                            <h4 style="padding-bottom: 20px; margin: 0; font-size: 20px;font-family: Segoe UI, sans-serif;">Dear {{RecipientName}},</h4>
                            <!-- <h4 style="padding-bottom: 20px; margin: 0; font-size: 18px;font-family: Segoe UI, sans-serif;">Welcome to Pidilite Vendor Onboarding Process.</h4> -->
                            <p style="padding-bottom: 5px; margin: 0; font-size: 14px;font-family: Segoe UI, sans-serif;color: #2C2C2C;"> Welcome to Pidilite Vendor Onboarding Process. </p>
                            <p style="padding-bottom: 5px; margin: 0; font-size: 14px;font-family: Segoe UI, sans-serif;color: #2C2C2C;"> We are pleased to inform you that your registration has been successfully completed. </p>
                            <!--<p style="padding-bottom: 5px; margin: 0; font-size: 14px;font-family: Segoe UI, sans-serif;color: #2C2C2C;">-->
                            <!--    This link will be valid until <strong>{{LinkExpiryDateTime}}</strong>.-->
                            <!--</p>-->
                        </td>
                    </tr>
                    <!--<tr>-->
                    <!--    <td>-->
                    <!--        <table style="width: 100%; border: 1px solid #edc228; border-radius: 6px; padding: 15px; background: #FFFAF0;margin-bottom: 10px;">-->
                    <!--            <tbody>-->
                    <!--                <tr>-->
                    <!--                    <td style="font-family: Segoe UI, sans-serif; font-size: 13px; padding-top: 0px; line-height: 18px;color: #2C2C2C;">-->
                    <!--                        For your security, this link will expire after the mentioned time and cannot be reused. If you encounter any issues accessing your account, please contact our support team for further assistance. <a href="#" style="color: #005aff; text-decoration: none;">Learn more</a>-->
                    <!--                    </td>-->
                    <!--                </tr>-->
                    <!--            </tbody>-->
                    <!--        </table>-->
                    <!--    </td>-->
                    <!--</tr>-->
                    <tr>
                        <td>
                            <p style="padding-top: 15px; padding-bottom: 20px; margin: 0; font-size: 14px; font-family: Segoe UI, sans-serif;color: #2C2C2C;">
                                If you didn't initiate this action, please contact <a href="mailto:Ithelpdek@pidilite.com" style="color: #005aff; text-decoration: none;"> Ithelpdek@pidilite.com</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="padding-bottom: 5px; margin: 0; font-size: 14px;font-family: Segoe UI, sans-serif;color: #2C2C2C;"> Regards, </p>
                            <p style="padding-bottom: 5px; margin: 0; font-size: 14px; font-weight: 600; font-family: Segoe UI, sans-serif;color: #2C2C2C;"> Pidilite Team </p>
                            <p style="padding-bottom: 5px; margin: 0; font-size: 14px;font-family: Segoe UI, sans-serif;color: #2C2C2C;">
                                <a href="https://www.pidilite.com" style="color: #005aff; text-decoration: none;">https://www.pidilite.com</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>